.env
/manualEpub*
  # symlink for
  # nixosConfigurations.nixos-wsl.config.system.build.manual.manualEpub
/result*
  # Symlink for system build
/fetch-deps*
  # Symlinks for Dotnet dependency file generation
/isoimage-pc*
  # Symlink for x86_64-linux ISO build
